/* line 1, ../../compass/sass/styles.scss */
body {
  font-family: 'Ubuntu', sans-serif;
}
/* line 3, ../../compass/sass/styles.scss */
body p {
  font-size: 20px;
}
/* line 6, ../../compass/sass/styles.scss */
body hr {
  border: 1px solid orange;
  width: 90%;
}

/* line 11, ../../compass/sass/styles.scss */
.hide {
  visibility: hidden;
}

/* line 14, ../../compass/sass/styles.scss */
.show {
  visibility: visible;
}

/* line 18, ../../compass/sass/styles.scss */
.navbar, .navbar-banner {
  background-color: #FFCB46;
  margin: 0px;
}

/* line 22, ../../compass/sass/styles.scss */
#logo img {
  height: 80px;
  padding-bottom: 40px;
}

/* line 26, ../../compass/sass/styles.scss */
.carousel {
  max-height: 80%;
}
/* line 28, ../../compass/sass/styles.scss */
.carousel img {
  width: 100%;
}

/* line 32, ../../compass/sass/styles.scss */
.welcomeMsg {
  padding-top: 20px;
  margin-right: 15px;
}

/* line 36, ../../compass/sass/styles.scss */
.main-intro {
  max-width: 90%;
  margin: auto;
}

/* line 40, ../../compass/sass/styles.scss */
.title {
  text-align: center;
  padding-top: 1%;
}

/* line 44, ../../compass/sass/styles.scss */
.container {
  display: inline-block;
}
/* line 46, ../../compass/sass/styles.scss */
.container .post-button {
  margin-left: 18px;
  margin-top: 5px;
}
/* line 50, ../../compass/sass/styles.scss */
.container .post-container {
  margin-top: 20px;
  background-color: #FEF6D4;
}
/* line 53, ../../compass/sass/styles.scss */
.container .post-container .post-wrapper {
  border: 1px solid orange;
}

/* line 59, ../../compass/sass/styles.scss */
.form-horizontal {
  padding: 15%;
  padding-top: 1%;
}
/* line 62, ../../compass/sass/styles.scss */
.form-horizontal .form-wrapper {
  background-color: #fef6d4;
  padding: 30px;
  padding-top: 8%;
}

/* line 69, ../../compass/sass/styles.scss */
.edit-avatar-wrapper {
  background-color: beige;
  margin-bottom: 15px;
}
/* line 72, ../../compass/sass/styles.scss */
.edit-avatar-wrapper .avatar-button {
  height: 25px;
  font-size: 10px;
  margin-top: 3px;
}

/* line 79, ../../compass/sass/styles.scss */
.register button {
  text-align: center;
}
