{% extends 'layout.html' %}
{% block body %}

{% if message %}
<div class="alert alert-danger">{{message}}</div>
{% endif %}
{% if messagePos %}
<div class="alert alert-warning">{{messagePos}}</div>
{% endif %}

<!-- Carousel!!! -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/images/bee-hero.png" alt="Bees on honeycomb">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="static/images/worker_bees.png" alt="Worker bees">
      <div class="carousel-caption">
        ...
    </div>
    </div>
    <div class="item">
      <img src="static/images/bee_closeup.png" alt="Bee closeup">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="static/images/bees_on_honeycomb.png" alt="Hero bee">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <div class="row main-intro"><h1 class="title">The bees’ future is our future</h1>
  <p class="info">Bee colony collapse disorder has contributed to a loss of about 30% of pollinators each year for the last ten years. We believe this serious issue affects everyone. After all, farmers can’t grow the crops we need if we don’t protect the bees that pollinate them. {% if not session %}<a href="/login"><span style="color:#ED9C2A;">Log in for the full experience!</span></a>{% endif %}</p></div>

{% if session %}
  <form id="submit-post-form" action="post_submit" method="POST">
    <div class="row post-area">
      <div class="col-md-8 col-md-offset-3">
        <div class="col-sm-2"><img src="static/images/honeycomb-small2.png"></div>
          <div class="col-sm-6"><textarea name ="post_content" cols="50" rows="4" placeholder="What are your thoughts on the bee crisis?"></textarea></div>
      <!-- <input type="hidden" value={{user_id}}> -->
       </div>
      </div>
    <div class="row button-wrapper">
      <div class="col-md-4 col-md-offset-7"><button type="submit" class="btn btn-warning post-button">Submit Post</button></div>
    </div>
  </form>
  <div class="col-md-8 col-md-offset-2 edit-avatar-wrapper">
    <div class="col-sm-2 current-avatar"><label>Current Avatar</label><img src="static/images/avatars/{{avatar}}"></div>
    <form id="choose-avatar-form" action="choose_avatar" method="POST">
      <div class="col-sm-5">
        <div class="choose-avatar">
        <label><span style="color:beige;">............</span>Choose an Avatar</label>
          <ul>
            <li class="avatar alien"><img src="static/images/avatars/alien.png"></li>
            <li class="avatar chris"><img src="static/images/avatars/chris_rock.png"></li>
            <li class="avatar grandpa"><img src="static/images/avatars/happy_grandpa.png"></li>
            <li class="avatar man_red"><img src="static/images/avatars/man_red_background.png"></li>
            <li class="avatar man_sad"><img src="static/images/avatars/man_sad.png"></li>
            <li class="avatar vampire"><img src="static/images/avatars/vampire.png"></li>
            <li class="avatar wolverine"><img src="static/images/avatars/wolverine.png"></li>
            <li class="avatar woman_shades"><img src="static/images/avatars/woman_shades.png"></li>
            <li class="avatar woman_violet"><img src="static/images/avatars/woman_violet.png"></li>
            <li class="avatar zombie"><img src="static/images/avatars/zombie.png"></li>
            <li class="avatar woman_pink"><img src="static/images/avatars/woman_pink_hair.png"></li>
            <li class="avatar woman_grey_hair"><img src="static/images/avatars/woman_grey_hair.png"></li>
            <li class="avatar woman_grey"><img src="static/images/avatars/woman_grey.png"></li>
            <li class="avatar dead_bee"><img src="static/images/dead_bee.png"></li>
          </ul>
        </div>
        
      </div>
      
    </form>
    <form id="upload-avatar-form" action="upload_avatar" method="POST" enctype="multipart/form-data">
      <div class="col-sm-3">
        <label>Or Upload Your Own</label>
        <div class="update_avatar">
          <input type="file" id="avatar" name="image_link" class="form-control" style="width:200px">
        </div>
        <button type="submit" class="btn btn-warning avatar-button">Upload</button>
      </div>
    </form>
  </div>
  <!-- RECENT POSTS -->
  <div class="post-container">
    <div class="col-md-8 col-md-offset-2 post-wrapper">
    {% for buzz in buzzes %}
      <div class="row buzzes">
        <div class="col-md-2 avatar"><img src="static/images/avatars/{{buzz[5]}}">
          <div class"col-md-12">{{buzz[4]}}</div>
        </div>
        <div class="col-md-8 post-content"><p class="date_time">{{buzz[3].strftime('%A, %b, 
        %d %Y-%l:%M%p') }}</p><p>{{buzz[1]}}</p></div>
        <div class="col-md-2 votes"><div class="vote vote-up" post_id="{{buzz[0]}}">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 451.847 451.846" style="enable-background:new 0 0 451.847 451.846;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="32323" data-kw="navigate6">
            <g>
              <path style="fill:#ED9C2A;" d="M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0   L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4   c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z"></path>
            </g>
          </svg>      
        </div>
        <div class="vote-up-down-number" up-down-id="{{buzz[0]}}">
          {{buzz[2]}}
        </div>

        <div class="vote vote-down" post_id="{{buzz[0]}}">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 307.053 307.053" style="enable-background:new 0 0 307.053 307.053;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="26046" data-kw="down14">
            <g id="_x34_86._Down">
              <g>
                <path style="fill:#ED9C2A;" d="M302.445,80.796l-11.101-11.103c-6.123-6.131-16.074-6.131-22.209,0L153.67,183.707L37.907,67.959     c-6.134-6.13-16.08-6.13-22.209,0L4.597,79.06c-6.129,6.133-6.129,16.067,0,22.201l137.83,137.829     c6.129,6.136,16.067,6.136,22.203,0l137.815-136.096C308.589,96.864,308.589,86.926,302.445,80.796z"></path>
              </g>
            </g>
          </svg>
        </div></div>
      </div>
 <!--      {% if buzz[3]: %}
        <div class="col-md-8 text-left">{{buzz[3].strftime('%A, %b, 
        %d %Y') }}</div>          
      {% endif %} -->
      <hr>
    {% endfor %}
    </div>
  </div>
</div> <!-- end container -->
{% endif %}
{% endblock %}